@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lobster&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  /* banner */
  .hilight-color{
    color: #F72D57;
}
  .banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 0px 50px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 52px;
}
.banner-left p{
    font-size: 18px;
}
.banner-photo{
    display: flex;
    justify-content: flex-end;
}
.banner-photo img{
    width: 440px;
    height: 414px;
}

/* exit banner */

/* main */
.seletion-title h1{
    text-align: center;
    font-size: 40px;

}

.main-container{
    background-color:#F5F5F5;
}
.middle-btn{
    display: flex;
    justify-content: center;
}

.middle button{
    background-color: #F72D57;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}


.middle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 30px;
}
.right-position{
    display: flex;
    justify-content: flex-end;
}
.middles{
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 30px 35px white;
    margin: 0 auto;
    background-color: white;
}
.middle-banner img{
    width: 100%;
}
.middle-text{
    text-align: center;
}

/* exit main  */

@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }