@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lobster&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #F5F5F5;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  .nav-sing{
    background-color:#F72D57 ;
    border-radius: 5px;
   
  }
 
  /* banner */
  .hilight-color{
    color: #F72D57;
}
  .banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 0px 50px;
    background-color: white;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 52px;
}
.banner-left p{
    font-size: 18px;
}
.banner-photo{
    display: flex;
    justify-content: flex-end;
}
.banner-photo img{
    width: 440px;
    height: 414px;
}

/* exit banner */

/* main */

.main-img{
  background-image: url(../img/Ellipse\ 157.png);
  background-repeat: no-repeat;
  padding: 25px;
  background-color: #FCFCFC;
    
}

.seletion-title h1{
    text-align: center;
    font-size: 40px;

}
.main-box button{
    background-color: white;
    border: none;
    color: red;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 5px;
    width: 280px; 
    height: 65px;  
}

.main-box button:hover{
    background-color:#F72D57 ;
    color: white;
}


.middle-btn button{
    background-color: #F72D57;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
}

.middle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 30px;
}




/* exit main  */

/* section  */
.seletion-title-two{
    font-size: 40px;
    margin-top: 100px;
}

.middle-section{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
}
.middle-images img{
    width: 500px;
    height: 300px; 
    margin-left: 30px;
}
.hedding-text{
    margin-left: 150px;
   font-size: 20px;
   
}
 /* 3rd section  */
.section-secend{
    margin-top: 40px;
}
.hedding-text2{
    
   font-size: 20px;
   margin-left: 150px;
 
}

/* footer  */
footer {
    background-color:#F72D57;
    color: white;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: stretch;
    margin-top: 50px;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color:white;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: white;
  }
  
  @media (max-width:688px) {
    .banner{
        display: grid;
        grid-template-columns: 1fr;
    }
    .banner-left h1{
        font-size: 25px;
        padding: 20px 0;
    }
    .middle,
    .contact,
    .middle-section,
    header{
        display: grid;
        grid-template-columns: 1fr;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
 }
 /* swiper  */
   

 .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow:white;
  margin: 20px;
}

.swiper-slide img {
  width: 250px;
}
.swiper-pagination{
  margin-top: 40px;
  padding: 20px;
}
      /* swiper  */

  @media screen and (max-width: 600px) {
    .row.primary {
      grid-template-columns: 2fr;
    }
  
  }



@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #F72D57;
      color: white;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
      color: white;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color:#F72D57;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      color: white;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }